body{
    background-color: rgba(130, 124, 124, 0.945);
    transition:0.4s ease-in-out;
}
.square{
    background-color: red;
    margin: 0 auto;
    width: 250px;
    height: 160px;
    margin-top: 15%;
    border-radius:20%;
    
}
.triangle-right{
    width:0;
    height:0;
    left: 615px;
    border-top: 25px solid transparent;
    border-left: 50px solid #fff;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: 300px;
}
h1{
    font-style: bold;
    font-size: 75px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.square:hover{
    box-shadow: 0px 10px 10px 30px rgb(71, 10, 24);
    rotate: 180deg;
    transition: rotate 1s;;
}
div input{
    display: none;
}
div label{
    display: block;
    width: 100px;
    height: 50px;
    background: rgba(222, 219, 219, 0.966);
    border-radius: 20px;
    position:relative;
    cursor: pointer;
    transition:background 300ms linear;
}
div label:before{
    content: "";
    display:block;
    width: 40px;
    height:40px;
    background: rgb(23, 23, 23);
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    transition:left 300ms linear;
}
div input:checked + label{
    background:rgba(19, 19, 19, 0.982);
}
div input:checked + label:before{
    left:55px;
    background:rgba(222, 219, 219, 0.966);
}
.light-mode{
    background:white;
    color:black;
}
.light-mode h1{
    color:black;
}